/* trabalhar a ideia da historia até aqui*/

body {
    background-image: url(/fotos/camera.jpg);
    background-image: cover;
}

.navbar-toggler {
    margin-bottom: 3px;
}

.form-control {
    margin-bottom: 3px;
}

nav:not(div) {
    opacity: 0.7;
    padding-bottom: 0px !important;
}


.botao-resumo {
    width: 50%;
    margin:auto;
    margin-bottom: 20%;
}

/*Conteudo historia */
.container-principal{
 width: 95%;
}
.titulo-apresentacao {
    width: 80%;
    margin: 60px auto;
    color: aliceblue;
}

.titulo-pessoal {
    margin: 0px 26px;
    font-size: 1.6rem;
}

.conteudo-historia {

    align-content: space-around;
    display: flex;
    flex-direction: column;
}

.col {
    background-color: aliceblue;
    flex-direction: column;
    border-radius: 20px;
    width: auto;
    display: flex;
    margin-bottom: 7%;
}

.primeiro-titulo {
    text-align: center;
}

/* INICIO FOOTER*/

.rodape {
    background-color: #2e251e6b;
    height: fit-content;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.titulo-footer {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0% 4%;
    margin-bottom: 9%;
}

.list-group {
    border-radius: 20px;
}

.list-group-horizontal {
    margin-top: 20px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.icon-git {
    width: 40px;
}

.icon-insta {
    width: 40px;
}

.icon-linkedin {
    width: 40px;
}
/* FIM MOBILE INICIO DESKTOP*/

@media screen and (min-width: 1000px){
    .botao-resumo {
        width: 31%;
        
    }
    .titulo-pessoal {
        margin: 0px 17%;
        font-size: 2.2rem;
        
    }
    .div-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (min-width: 1450px){
    .botao-resumo {
        width: 18%;
        margin-top: 10%;   
    }    
}