/* trabalhar a ideia da historia até aqui*/

body {
    background-image: url(/fotos/camera.jpg);
    background-repeat: no-repeat;
}
.navbar-toggler {
    margin-bottom: 3px;
}

.form-control {
    margin-bottom: 3px;
}

nav:not(div) {
    opacity: 0.7;
    padding-bottom: 0px !important;
}
.titulo-apresentacao{
    width: 80%;
    margin:60px auto;
    color: aliceblue;
}
.titulo-pessoal{
    margin:0px 26px;
    font-size:1.6rem;
}
.conteudo-historia{
    align-content: space-around;
    display: flex;
    flex-direction: column;
}
.col{
    flex-wrap: wrap;
    border-radius: 20px;
    width: auto;
    display: flex;
    /* align-items: center; */
    background-color: aliceblue;
}

.primeiro-titulo{
    text-align: center;
}