body {
    height: 100%;
    width: 100%;
    background-image: url(/camera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-toggler {
    margin-bottom: 3px;
}

.form-control {
    margin-bottom: 3px;
}

nav:not(div) {
    opacity: 0.7;
    padding-bottom: 0px !important;
}

.container-my {
    height: 590px;
    width: 100%;

}

.form-control {
    border: 0px;
}

.caixa-fundo:not(.fotoperfil) {
    margin-left: 28%;
    margin-top: 40%;
    border-radius: 10%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 0px 168px 32px #b184606b;
    width: 40%;
    overflow: hidden;
    position: relative;
}

.caixa-fundo-inf {
    margin-left: 28%;
    margin-top: 2%;
    border-radius: 10%;
    border: 1px solid #ffffff;
    box-shadow: 10px 0px 168px 32px #b184606b;
    width: 40%;
    overflow: hidden;
    position: relative;
    transform: rotateY(60deg)
}

.fotoperfil {
    height: 98%;
    width: 100%;

}

.titulo {
    text-align: center;
    font-size: 1.079rem;
    margin-left: 1px
}

.subtitulo {
    text-align: center;
    font-size: 1.079rem;
}

/* KEYFRAME TITULO */
.subtitulo {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 6s steps(26) alternate, blink 2800ms steps(26) alternate;
    border-right: 10px;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 101%;
    }
}

@keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }

    to {
        border-color: #000;
    }
}

.titulo {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(106) alternate, blink 2800ms steps(26) alternate;
    border-right: 20px transparent;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 101%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }

    to {
        border-color: transparent;
    }
}

.botao-historia {
    width: 74%;
    margin-top: 20%;
    margin-left: 13%;
}

/* BLOCO FOTOGRAFIA*/
.titulo-foto {
    border-radius: 40px;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    background-color: #cda476a9;
}

.img-thumbnail {
    margin: 3px 0px;
}

.botao-vermais {
    border-radius: 40px;
    opacity: 0.7;
    margin: 8px 0px 30px;
    margin-left: 12%;
    width: 76%;
}

.btn:hover {
    opacity: 1.0;
}

/* BLOCO POESIAS */
.titulo-poesia {
    margin-left: 4%;
    border-radius: 40px;
    font-size: 2rem;
    width: 93%;
    text-align: center;
    background-color: #cda476a9;
}

.ajuste-perfil {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.poesias:not(.sem-peso) {
    margin: 1% 3%;
    width: 95%;
    background-image: url(https://cdn.pixabay.com/photo/2012/03/01/00/28/abstract-19616_960_720.jpg);
    opacity: 0.8;
    border-radius: 13px;
}

.sem-peso {
    font-size: 1.2rem;
    text-align: justify;
}

.crianca {
    font-size: 1.2rem;
    text-align: justify;
}

.nome-poesias {
    padding: 10px;
    margin-top: 11px;
}

.intermediar {
    width: 80%;
    height: 5px;
    background-color: #896565a9;
    margin-left: 9%;
    margin-bottom: 1%;
}

#botao-poesia {
    margin-bottom: 10px;
}

/* BLOCO PROJETOS*/
.container-projetos {
    height: 100%;
    width: 100%;
    background-image: url(/camera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.div-projetos {
    margin-top: 17%;
    margin-left: 4%;
    border-radius: 40px;
    font-size: 2rem;
    width: 93%;
    text-align: center;
    background-color: #cda476a9;

}

.titulo-projetos {
    font-size: 2.2rem;
}

.caixa-projetos {
    align-items: center;
    height: 1030px;
}

.card-img-top {
    margin-top: 2%;
}

/* INICIO FOOTER*/

.rodape {
    background-color: #2e251e6b;
    height: fit-content;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.titulo-footer {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0% 4%;
    margin-bottom: 9%;
}

.list-group {
    border-radius: 20px;
}

.list-group-horizontal {
    margin-top: 20px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.icon-git {
    width: 40px;
}

.icon-insta {
    width: 40px;
}

.icon-linkedin {
    width: 40px;
}

/* FIM MOBILE INICIO "Desktop"*/

@media screen and (min-width: 1000px) {
    .container-my {
        height: 750px;
        width: 100%;
    }
    .caixa-fundo{
        margin-left: 30%!important;
        margin-top: 12%!important;
    }
    .botao-historia {
        width: 30%;
        margin-top: 4%;
        margin-left: 33%;
    }
    .titulo {
        text-align: center;
        font-size: 1.579rem;
        margin-left: 0px
    }
    .subtitulo {
        text-align: center;
        font-size: 1.53rem;
    }
    .caixa-fundo-inf{
        margin-left:30%;
    }
    .botao-historia {
        width: 30%;
        margin-top: 4%;
        margin-left: 34.5%;
    }
    .titulo-poesia{
        margin-top: 12%;
    }
    .botao-vermais{
        font-size: 1.1rem;
        margin-left: 11%;
    }
    #botao-poesia{
        background-color: #ad89639c!important;
        margin-left:35%;
        width: 30%;
    }
    .nome-poesias {
        font-size: 2rem;
    }
    .sem-peso{
       font-size: 1.5rem;
    }
    .div-projetos{
        margin-top: 12%;
        margin-bottom: 2%;
    }
    .terceira-section{
        display: flex;
        height: 1231px;
    }
    .container-projetos{
        width: 74%;
        background-image: none;
    }
    .caixa-projetos{
        margin-left: 9%;
        height: 1161px;
    }
    .card{
        width: 84%;
    }
    .card{
        width:84%;
        height:1015px;
    }
    .card-img-top{
        height: 800px!important;
        width: 386px;
    }
    .list-group-horizontal{
        margin-top: 20px;
        display: flex;
        align-content: space-between;
        justify-content: space-evenly;
    }
}
/* CONTINUAÇÃO MEDIA DESKTOP*/
@media screen and (min-width: 1200px){
    .mural-fotos{
        --bs-gutter-x: 3.5rem;
    }
    .secao-fotos{
        display: flex;
        flex-direction: column;
    }
    .titulo-poesia {
        margin-left: 10.5%;
        width: 78.5%;
    }
    .poesias{
        margin-left: 10.5%!important;
        width: 78.5%!important;
    }
    .card {
        width: 398px;
        height: 1006px;
    }
    .div-projetos {
        margin-left: 10.5%;
        width: 78.5%;
    }
    .caixa-projetos {
        
        height: 1161px;
    }
    .terceira-section{
        margin:0% 7%;
    }
    .titulo-footer {
        margin-bottom: 6%;
    }
}
/*ajuste media screen desktop*/
@media screen and (min-width: 1400px){
    .titulo-poesia {
        margin-left: 15.5%;
        width: 68.5%;
    }
    .poesias{
        margin-left: 15.5%!important;
        width: 68.5%!important;
    }
    .card {
        width: 398px;
        height: 1006px;
    }
    .div-projetos {
        margin-left: 15.5%;
        width: 68.5%;
    }
    .terceira-section {
        margin: 0% 15%;
    }
}